* {
    margin: 0;
    padding: 0;
    color: rgb(158, 68, 4);
}

section {
    padding: 20px;
    margin-left: 5px;
}

h1 {
    font-size: 2em;

}

h2 {
    font-size: 1.5em;
    margin-top: 0.7em;

}

p {
    font-size: 1.1em;
}